.container {
  :global {
    // .x6-graph-background {
    //   background-color: #ccc;
    //   box-shadow: 0px 0px 2px 1px #d1d1d1;
    // }
  }
}

.scrollerPluginContainer {
  :global {
    .x6-graph-scroller-content {
      cursor: auto;
    }
    .x6-edge-label {
      cursor: move;
    }
    .x6-node-tools {
      position: absolute;
      width: 0;
      height: 0;
    }

    .x6-widget-transform {
      border-color: #067bef;
      border-style: solid;
      .x6-widget-transform-resize {
        border-radius: 0;
        border-color: #067bef;
        &:hover {
          background-color: #067bef;
        }
      }
    }
  }
}
