.node {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  padding: 8px 15px;
}
.mainLine {
  display: inline-flex;
  flex-wrap: nowrap;
}
.icons,
.remark {
  flex: 1;
  flex-basis: 1;
}
