.node {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mainLine {
  display: inline-flex;
  flex-wrap: nowrap;
  // justify-content: center;
  :global {
    .kangmi-icon {
      line-height: 0;
    }
  }
}
.icons {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  :global {
    .kangmi-icon {
      // margin-right: 4px;
      padding-right: 8px;
      cursor: pointer;
    }
  }
}
.iconPopoverContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 308px;
  line-height: 1;
  .iconPopoverItem {
    font-size: 22px;
    margin: 6px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      background-color: #eee;
    }
    &.iconPopoverItemActive {
      background-color: #eee;
    }
  }
}
.removeBtn {
  border-top: 1px solid #eee;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  line-height: 1;
  cursor: pointer;
  color: #333;
}

.tags {
  white-space: nowrap;
  padding-top: 6px;
}
.tagItem {
  cursor: pointer;
}
