.sideBar {
  background-color: #fff;
  left: 0;
  top: var(--header-height);
  width: var(--sidebar-width);
  flex: 0 0 var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  display: flex;
  border-right: 1px solid #eee;
  z-index: 90;
}
