.sideBarContainer {
  position: fixed;
  z-index: 90;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  width: 260px;
  transition: right 0.3s;
  border-left: 1px solid #ccc;
  &.hide {
    right: -261px;
  }
}
.operateList {
  position: absolute;
  right: 100%;
  top: 0px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px #05003814;
  padding: 4px;
  margin: 8px 8px 0 0;
  width: 46px;
  .operateItem {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-width: auto;
    min-height: 36px;
    margin-bottom: 4px;
  }
  .operateItemActive {
    background-color: var(--item-bg);
  }
}

.settingContainer {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.sectionTitle {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
}
.sectionContent {
  padding: 4px 0 10px 0;
  .iconItem {
    cursor: pointer;
    font-size: 24px;
  }
}
.sectionContentDisabled {
  opacity: 0.5;
  .iconItem {
    cursor: not-allowed;
  }
}
