.presetItem {
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}
